<ion-view view-title="添加商品">
  <ion-content class="has-footer">
    <div class="list">
      <div class="item item-icon-right item-thumbnail-left">
        <img src="views/product/images/supplier_icon.png" alt="">
        <i class="icon"><h6>上傳圖片</h6></i>
      </div>
      <div class="item item-input item-icon-right">
        <label  style="display: flex;width: 100%;padding-top: 2px;padding-bottom: 2px" for="">
          <span class="input-label">條碼</span>
          <input type="text" placeholder="輸入條形碼">
        </label>
        <i class="icon ion-qr-scanner energized"></i>
      </div>
      <label class="item item-input" for="">
        <span class="input-label">名稱<span class="energized">*</span></span>
        <input type="text">
      </label>
      <div class="item item-icon-right" ui-sref="app.category-list">
        分類
        <span class= "item-note">{{product.Category.Name}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-energized">
    <div class="button-bar">
      <button class="button button-clear">完成</button>
      <button class="button button-clear">繼續添加</button>
    </div>
  </div>
</ion-view>
