<ion-view view-title="修改密碼" cache-view="false">
  <ion-content>
  <div class="list list-inset stable-bg">
    <span class="input-label">請輸入舊密碼</span>
    <label for="" class="item item-input">
      <input type="password" ng-model="user.oldPassword">
    </label>
    <span class="input-label">請輸入新密碼</span>
    <label for="" class="item item-input">
      <input type="password" ng-model="user.password">
    </label>
    <span class="input-label">請再輸入一次</span>
    <label for="" class="item item-input">
      <input type="password" ng-model="user.confirmPassword">
    </label>
  </div>
    <div class="padding">
      <button class="button button-energized button-block" ng-click="save()">確定</button>
    </div>
  </ion-content>
</ion-view>
