<ion-view view-title="店鋪信息">
  <ion-content class="stable-bg">
    <ul class="list list-inset">
      <li class="item item-icon-right" ng-click="editShop('店鋪名稱','name')">
        店鋪名稱
        <span class="item-note">{{shop.name}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </li>
      <li class="item item-icon-right" ng-click="editShop('店鋪簡稱','ab')">
        店鋪簡稱
        <span class="item-note">{{shop.ab}}</span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </li>
      <li class="item ">
        註冊時間
        <span class="item-note">{{shop.createTime}}</span>
      </li>
      <li class="item ">
        手機號碼
        <span class="item-note">{{shop.phone}}</span>
      </li>
    </ul>
    <li class="item item-icon-right" ng-click="editShop('店主姓名','boss')">
      店主姓名
      <span class="item-note">{{shop.boss}}</span>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </li>
    <li class="item item-icon-right" ng-click="editShop('店鋪電話','shopPhone')">
      店鋪電話
      <span class="item-note">{{shop.shopPhone}}</span>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </li>
  </ion-content>
</ion-view>
