<ion-view view-title="首页">
    <ion-content>
      <img class="full-image" src="views/homes/images/androidbanner.png" alt="">
      <div class="row padding-left stable-bg">

        <div class="col stable-bg">
          <h6>今日</h6>
          <p class="income">123.00<span class="yuan">元</span>  </p>
          <p>比昨日:<span class="balanced">+100.00</span><i class="icon ion-arrow-up-a assertive"></i></p>
        </div>

        <div class="col stable-bg">
          <h6>本周报表</h6>
          <p class="income">113.00<span class="yuan"></span>  </p>
          <p>同期:525.78<i class="icon ion-arrow-down-a dark"></i></p>
        </div>

        <div class="col stable-bg">
          <h6>本月报表</h6>
          <p class="income">256.14<span class="yuan"></span>  </p>
          <p>比昨日:528.00<i class="icon ion-arrow-up-a assertive"></i></p>
        </div>
      </div>
      <div class="row row-no-padding quick-actions">
        <div class="col col-25 col-border tubiao">
          <a class="tab-item shortcut" href="">
            <i class="icon ion-plus-round calm"></i>
            <h5>新增商品</h5>
          </a>
        </div>
        <div class="row row-no-padding quick-actions">
          <div class="col col-25 col-border tubiao">
            <a class="tab-item shortcut" href="">
              <i class="icon ion-plus-round calm"></i>
              <h5>新增商品</h5>
            </a>
          </div>   <div class="row row-no-padding quick-actions">
          <div class="col col-25 col-border tubiao">
            <a class="tab-item shortcut" href="">
              <i class="icon ion-plus-round calm"></i>
              <h5>新增商品</h5>
            </a>
          </div>   <div class="row row-no-padding quick-actions">
          <div class="col col-25 col-border tubiao">
            <a class="tab-item shortcut" href="">
              <i class="icon ion-plus-round calm"></i>
              <h5>新增商品</h5>
            </a>
          </div>

