<ion-view view-title="首页">
    <ion-content>
        <h1>我是首页</h1>
        <div class="col row-wrap row-no-padding">
            <div class="col col-25 col-border quick-action-item">
                <a class="tab-item shortcur" href=""></a>
                <i class="icon ion-android-apps energized">
                    <h5>新增商品</h5>
                </i>
            </div>
        </div>
        <div class="col row-wrap row-no-padding">
            <div class="col col-25 col-border quick-action-item">
                <a class="tab-item shortcur" href=""></a>
                <i class="icon ion-android-apps energized">
                    <h5>新增商品</h5>
                </i>
            </div><div class="col row-wrap row-no-padding">
            <div class="col col-25 col-border quick-action-item">
                <a class="tab-item shortcur" href=""></a>
                <i class="icon ion-android-apps energized">
                    <h5>新增商品</h5>
                </i>
            </div>
        </div>
            <div class="col row-wrap row-no-padding">
                <div class="col col-25 col-border quick-action-item">
                    <a class="tab-item shortcur" href=""></a>
                    <i class="icon ion-android-apps energized">
                        <h5>新增商品</h5>
                    </i>
                </div>
        </div>